* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1rem;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

:root {
    --accent-color: #000000;
    --main-color: #1f1e1f;
    --font-color: white;
    --button-underline-color: linear-gradient(white, white);
    --background-color: linear-gradient(-60deg, #33ccff, #ff33cc);
    --mid-square-color: linear-gradient(#33ccff, #ff33cc);
    --dot-color: linear-gradient(#33ccff, #ff33cc);
    --swiper-theme-color: #ffffff00;
}



/* Track Bar */
::-webkit-scrollbar {
    width: 1rem;
    /*Font Size Scroll Bar*/
}

/* Track */
::-webkit-scrollbar-track {
    background: #6e6a6a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Anchors */
#about {
    position: absolute;
    top: 0px;
    z-index: 2;
    /* background-color: pink; */
    height: 1rem;
    width: 1rem;
}

#skills {
    position: absolute;
    top: 800px;
    z-index: 2;
    /* background-color: pink; */
    height: 1rem;
    width: 1rem;
}

#projects {
    position: absolute;
    top: 1650px;
    z-index: 2;
    /* background-color: pink; */
    height: 1rem;
    width: 1rem;
}

#contact {
    position: absolute;
    top: 2500px;
    z-index: 2;
    /* background-color: pink; */
    height: 1rem;
    width: 1rem;
}



/* Navigation bar */
.nav-section {
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    width: 100vw;
    /*Size of Nav Bar Section*/
    height: 60px;
    /*Size of Nav Bar Section*/
    background-color: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.nav-container {
    width: 850px;
    /*Size of Nav Button Section*/
    height: 100%;
    /*Size of Nav Button Section*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.nav-section-mobile {
    position: fixed;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 0;
    top: 0;
    width: 40vw;
    /*Size of Nav Bar Section*/
    height: 100vh;
    /*Size of Nav Bar Section*/
    background-color: rgba(31, 30, 31, 0.95);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
}

.nav-section-mobile.open {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(0%);
    -ms-transform: translate(0%);
    transform: translate(0%);
}

.nav-container-mobile {
    width: 100%;
    /*Size of Nav Button Section*/
    height: 50%;
    /*Size of Nav Button Section*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.burgermenu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 5.5rem;
    height: 5.5rem;
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    border-radius: 0 0 0 10%;

}

#burgermenu {
    width: 60%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
    cursor: pointer;
}

#burgermenu span {
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 4px;
    width: 85%;
    left: 0;
    opacity: 1;
    background-image: linear-gradient(90deg, white, white);
    /*DO ZMIANY PO SCOLLU*/
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
}

#burgermenu span:nth-child(1) {
    top: 0px;
}

#burgermenu span:nth-child(2),
#burgermenu span:nth-child(3) {
    top: 15px;
}

#burgermenu span:nth-child(4) {
    top: 30px;
}

#burgermenu.open span:nth-child(1) {
    top: 15px;
    width: 0%;
    left: 50%;
}

#burgermenu.open span:nth-child(2) {
    -webkit-transform: rotate(43deg);
    -ms-transform: rotate(43deg);
    transform: rotate(43deg);
}

#burgermenu.open span:nth-child(3) {
    -webkit-transform: rotate(-43deg);
    -ms-transform: rotate(-43deg);
    transform: rotate(-43deg);
}

#burgermenu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


.nav-button {
    font-size: 1.8rem;
    /*Font Size Nav Button*/
    text-transform: uppercase;
    background: none;
    outline: none;
    border-color: transparent;
    cursor: pointer;
    font-weight: 600;
    color: var(--font-color);
    position: relative;
}

.nav-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1%;
    background-image: var(--button-underline-color);
    border-radius: 10px;
    bottom: -0.5rem;
    left: 0;
    -webkit-transform: scaleX(0%);
    -ms-transform: scaleX(0%);
    transform: scaleX(0%);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.nav-button:hover::after {
    -webkit-transform: scaleX(100%);
    -ms-transform: scaleX(100%);
    transform: scaleX(100%);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out
}

/* DOTS SETTINGS */
.full-dot {
    height: 1.5rem;
    /*Size of Full Dots*/
    width: 1.5rem;
    /*Size of Full Dots*/
    border-radius: 50%;
    background-image: var(--dot-color);
    border: solid 0.3rem var(--font-color);
}

.empty-dot {
    height: 1.5rem;
    /*Size of Empty Dots*/
    width: 1.5rem;
    /*Size of Empty Dots*/
    border-radius: 50%;
    background-color: var(--main-color);
    border: solid 0.2rem var(--font-color);
}

.half-dot {
    width: 0.75rem;
    /*Size of Half Dots*/
    height: 1.5rem;
    /*Size of Half Dots*/
    background-image: var(--dot-color);
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    border: 0.3rem solid var(--font-color);
    border-right: 0;
}


.all-project-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;

    height: fit-content;
    background-image: var(--background-color);
    background-attachment: scroll;
    background-position: 0rem 0rem;
    background-repeat: no-repeat;
    background-size: none;
}


ul {
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 95%;
}


li {
    height: 350px;
    width: 300px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 3rem;
    list-style: none;
    transition: all 0.15s linear;
}

li:hover {
    margin-top: -25px;
    transition: all 0.3s ease-in-out;
}


li:last-child {
    -webkit-box-flex: 10;
    -ms-flex-positive: 10;
    flex-grow: 10;
}


/* Projects Section (squares) */
.project-big {
    position: relative;
    max-width: 350px;
    width: 100%;
    /*Size of Squares in Swiper*/
    height: 100%;
    /*Size of Squares in Swiper*/
    -webkit-transform: skewX(-3deg);
    -ms-transform: skewX(-3deg);
    transform: skewX(-3deg);
    background-color: var(--accent-color);
    border-radius: 1%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.project-small {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    bottom: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 1%;
    border: 0.3rem solid var(--accent-color);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.project-smalltr {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 1%;
    border: 0.3rem solid var(--accent-color);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

/* Content in squares */
.project-content {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: skewX(3deg);
    -ms-transform: skewX(3deg);
    transform: skewX(3deg);
}


.project-title h1 {
    font-size: 3rem;
    /*Font Size of Title in Square*/
    color: var(--font-color);
    margin-bottom: 3rem;
}

.project-description {
    font-size: 1.5rem;
    /*Font Size of Description in Square*/
    color: var(--font-color);
    margin-bottom: 3rem;
}

.project-languages {
    height: 50%;
    /*Size of Content Languages in Square*/
    width: 95%;
    /*Size of Content Languages in Square*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.project-language {
    color: var(--font-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 1rem;
    border-radius: 30px;
    height: auto;
    width: auto;
    text-align: center;
    border: 0.1rem solid var(--font-color);
}

.project-language-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--font-color);
    font-size: 1.5rem;
    /*Font Size of Languages in Square*/
}

.project-rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.project-rate div {
    margin-left: 0.5rem;
}





/* SIZE ADJUSTMENT */
@media only screen and (max-width: 950px) {

    li:hover {
        margin-top: 0px;
        transition: all 0.3s ease-in-out;
    }


}


